@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Roboto+Mono:wght@100&family=Satisfy&display=swap');

h4{
    font-family: 'Satisfy', cursive;
   
}
.redesocial{
    margin: 2px 20px;
    border-radius: 8px;
    
}